.header{
    background-color: #212121;
    display: flex;
    justify-content: center;
}
.headcontainer {
    background-color: #585858;
    color: #ffffff;
    display: flex;
    max-width: 85%;
    margin: 10px;
    padding: 5px;
    text-align: justify;
    box-shadow: 0px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 0px -12px 16px 0px rgba(5, 5, 5, 0.6), inset 0px 11px 28px 0px rgb(0, 0, 0);
    background-color: #585858;
    border-radius: 73px 10px 71px 10px;
    border: 3px outset #ff8946;
    backdrop-filter: blur(6px);
}

.info{
    margin-top: 10%;
    width: 50%;
    display:block;
    align-content: flex-end;
}

.img{
    width: 50%;
}

.cheff{
    width: 100%;
    height: 100%;
    
}