@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: 'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #383838;
  color: white;
  text-align: center;
}

html {
  background-color: #383838;
}
.bg-grey{
  background-color: #383838;
}
.bg-dark{
  background-color: #383838
}